<tr>
  <td align="right"><%= team_helper(tipp.game.team_one) %></td>
  <td align="right"><%= image_tag(tipp.game.team_one.flag_uri, :size => "20x20") %></td>
  <td align="right"><%= tipp.goals_one %></td>
  <td align="center">:</td>
  <td align="left"><%= tipp.goals_two %></td>
  <td align="left"><%= image_tag(tipp.game.team_two.flag_uri, :size => "20x20") %></td>
  <td align="left"><%= team_helper(tipp.game.team_two) %></td>
  <td><%= link_to image_tag("/images/edit.jpg", :size => "20x20", :title => "Bearbeiten"), edit_game_tipp_url(tipp.game, tipp) if current_user.gamer == tipp.gamer and !TippsHelper.tipp_stop? tipp.game %>
  </td>
</tr>
