<h2>Gruppen&uuml;bersicht</h2>
<% @groups.each do |group|
    count = 0
%>
    <table>
      <thead>
      <tr>
      <th colspan="2" align="left">Gruppe <%= h group.name %></th>
      <th>SP</th>
      <th>S</th>
      <th>U</th>
      <th>N</th>
      <th>T:G</th>
      <th>P</th>
      </thead>
      </tr>
      <tbody>
      <% group.teams.each do |team| %>
          <tr>
            <td><%= count += 1 %></td>
            <td><%= image_tag(team.flag_uri) %><%= h team.country %></td>
            <td><%= h team.games %></td>
            <td><%= h team.wins %></td>
            <td><%= h team.draw %></td>
            <td><%= h team.losses %></td>
            <td><%= h team.goals_won %></td>
            <td><%= h team.goals_lost %></td>
            <td><%= h team.points %></td>
            <% if is_admin? %>
            <td><%= link_to image_tag("/images/edit.jpg", :title => "Bearbeiten"), edit_team_url(team) %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>