<h2>Registrieren Sie sich bitte unten.</h2>
<% form_for(@user) do |f| %>

    <%= f.error_messages %>
    <%= f.label :email, "Emailadresse" %>
    <br/>
    <%= f.text_field :email %>
    <br/>
    <%= f.label :nickname, "Nickname" %>
    <br/>
    <%= f.text_field :nickname %>
    <br/>
    <%= f.label :password, "Passwort" %>
    <br/>
    <%= f.password_field :password %>
    <br/>
    <%= f.label :password_confirmation, "Passwortwiederholung" %><br/>
    <%= f.password_field :password_confirmation %>
    <br/>
    <br/>
    <%= f.submit 'Abschicken' %>
<% end %>
