<ul>
  <li class="<%= current_page_item root_url %>"><%= link_to "Home", root_url %></li>
  <li><%= link_to "Spielplan", games_url %></li>
  <li><%= link_to "Benutzerkonto", account_url %></li>
  <li><%= link_to "Hall of Fame", hall_of_fame_index_url %></li>
  <li><%= link_to "Gruppen", groups_url %></li>
</ul>