<ul>
  <li class="<%= current_page_item 'home' %>"><%= link_to "Home", root_url %></li>
  <li class="<%= current_page_item 'games' %>"><%= link_to "Spielplan", games_url %></li>
  <li class="<%= current_page_item 'groups' %>"><%= link_to "Gruppen", groups_url %></li>
  <li class="<%= current_page_item 'hall_of_fame' %>"><%= link_to "Hall of Fame", hall_of_fame_index_url %></li>
  <li class="<%= current_page_item 'account' %>"><%= link_to "Konto", account_url %></li>
</ul>